<md-dialog aria-label="More Info for {{item.name}}">
    <md-dialog-content layout="row" layout-sm="column" layout-xs="column">
        <div flex>
            <h2 class="primary" id="text">{{item.name}}</h2>
            <p class="interior-dialog">{{item.description}}</p>
            <div>
                <p class="interior-dialog">Drink with:</p>
                <ul>
                    <li ng-repeat="food in item.food_pairing">{{food}}</li>
                </ul>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="primary raised">Close</md-button>
    </md-dialog-actions>

</md-dialog>
